<table class="index">
  <thead>
  	<tr>
  		<th><%= t("product") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% recommendations.each do |recommendation| %>
      <tr id="<%= dom_id(recommendation, :sel)%>">
        <td><%= recommendation.name %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(recommendation, :rem_spinner)}" %>		  
		      <%= link_to_remote  icon('delete') + ' ' + t('remove'), 
		                         {:url => remove_admin_product_recommendation_url(@product, recommendation),
		                         :loading => "$(#{dom_id(recommendation, :rem_spinner)}).show();",
		                         :update => 'selected-recommendations',
		                         :complete => "$('#{dom_id(recommendation, :sel)}').remove(); $(#{dom_id(recommendation, :rem_spinner)}).hide();"}, :class => 'iconlink' %>
                       
  	    </td>        
      </tr>
    <% end %>
    <% if recommendations.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
