<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => t("recommendations") } %>
<div id="selected-recommendations">
  <%= render :partial => "recommendations_table", :locals => {:recommendations => @recommendations} %>
</div>


<% form_tag('#') do %>
  <label><%= t('search') %>:</label>
  <input id="searchtext" size="25">
<% end %>

<div id="searching" style="display:none">
  <%= t('searching') %> &nbsp; <%= image_tag "spinner.gif" %>  
</div>
<%= observe_field(:searchtext,
                  :frequency => 0.75,
                  :update => :search_hits,
                  :loading => "$('#searching').show();",
                  :complete => "$('#searching').hide();",
                  :url => available_admin_product_recommendations_url(@product),
                  :with => "'q=' + value") %>  
<br/>                 
<div id="search_hits"></div>
