<%# this is very close to _cart_form in the core %>

<% if product.variants? %>
<div id="product-variants">
  <% vars = product.variants 
     # could use orderable? if it wasn't broken
     disabled, available = vars.partition {|v| !v.in_stock && !Spree::Config[:allow_backorders] }
     selected = available.take(1)
     opts = options_from_collection_for_select(vars, :id, :describe_variant, {:disabled => disabled, :selected => selected })
  %>
  <label style="width: 200px;">
    Choose a variant: &nbsp;
  </label>
  <%= select_tag 'products[#{product.id}]', opts %>
<% end %>

<% if product.has_stock? || Spree::Config[:allow_backorders] %>
  <label><%= t('quantity') %>:&nbsp;</label>
  <%= text_field_tag (product.variants? ? :quantity : "variants[#{product.variant.id}]"), 
                 0, :class => "title", :size => 3 %>
<!--
  &nbsp;
  <button type='submit' class='large primary'>
    <%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
  </button>
-->
<% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
<% end %>
</div>
